.header{
    background-color: rgb(70, 67, 67);
    height: 55vh;
    width: 100vw;
}
.header-title{
    
    color: white;
    margin-left: 4%;
    margin-top: 2%;
}
.header-title h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.header-title h6 {
    font-weight: bold;
    font-size: large;
}
.section-2{
    margin-top: 30px;
}
.first-post{
    margin-left: 15px;
    border: 1px grey solid;
    height: 40vh;
    width: 27vw;
}
.first-thubnail{
    background-color: gray;
    color: white;
    text-align: center;
    height: 40vh;
    width: 20vw;
    padding-top:100px;
}
.seconde-post{
    margin-left: 50px;
    border: 1px grey solid;
    height: 40vh;
    width: 27vw;
}
.seconde-thubnail{
    background-color: gray;
    color: white;
    text-align: center;
    height: 40vh;
    width: 21vw;
    padding-top:100px;
}
.world{
    color: blue;
    font-weight: bold;
}
.featured-post{
    font-weight: bold;
}
.nov{
    color: grey;
    font-size: small;
}
.countinue{
    color: blue;
}
.design{
    color: green;
    font-weight: bold;
}
.post-title{
    font-weight: bold;
}
.section-3{
    margin-top: 30px;
}
.firehose{
    font-size: x-large;
    font-style: italic;
    font-weight: bold;

}
.sample{
    font-weight: bold;
}
.mark{
    color: gray;
    font-size: medium;
    margin-top: -3px;
    background-color: white;
}
.box-1{
    background-color: rgb(248, 245, 245);
    padding-left: 15px;
    padding-top: 10px;
}
.about{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.archives{
    margin-top: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
.month-name{
    color: rgb(17, 17, 236);
    font-size: large;
}
.elsewhre{
    margin-top: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
}
.accounts{
    color: rgb(17, 17, 236);
    font-size: large;
}
.button{
    color: blue;
    text-align: center;
    text-decoration: none;
    border: 1px blue solid;
    background-color: white;
    display: inline-block;
    font-size: 20px;
    border-radius: 22px;

}
